<div id="schedulePage">
    <span class="sectionTitle scheduleSection">
        {{ 'SCHEDULE' | translate}} {{ scheduleDate | date:'yyyy/MM/dd' }}
        <a href="daySchedule/{{ scheduleDate | date:'yyyy_MM_dd' }}"><img src="img/back.png" width="16" height="16" alt="Back"/></a>
    </span>
    <div id="scheduleMap" class="mapContainer"></div>
</div>