<div class="formContainer">
    <span class="sectionTitle">{{ 'REGISTER' | translate}}</span>
    <form name="loginForm">
        <span ng-show="loginForm" class="errorField noformat">{{loginError}}</span>
        <div class="formFieldContainer">
            <span ng-show="loginForm.login.$error.required && !loginForm.login.$pristine" class="errorField">
                {{ 'REQUIRED_FIELD' | translate}}
            </span>
            <label for="login">{{ 'LOGIN_FIELD' | translate}}</label>
            <input id="login" type="text" name="login" required ng-model="loginRequest.login"/>
        </div>
        <div class="formFieldContainer">
            <span ng-show="loginForm.password.$error.required && !loginForm.password.$pristine" class="errorField">
                {{ 'REQUIRED_FIELD' | translate}}
            </span>
            <label for="password">{{ 'PASSWORD_FIELD' | translate}}</label>
            <input id="password" type="password" name="password" required ng-model="loginRequest.password"/>
        </div>
        <div class="formButtons">
            <button type="button" ng-click="login()" ng-disabled="loginForm.$invalid || disableButtons"
                     ng-class="{disabledButton: loginForm.$invalid || disableButtons}">
                {{'LOGIN' | translate}}
            </button>
        </div>
    </form>
</div>