<div id="eventsList" class="listContainer">
    <span class="sectionTitle">{{ 'EVENTS' | translate}}</span>
    <div class="listControls">
        <div class="listControllerItem">
            <a href="createEvent">
                {{'ADD_ITEM' | translate }}
            </a>
        </div>
        <div class="listControllerItem" ng-show="events.length!=0" style="float:right;">
            <a href="" ng-click="changeOldEventsVisibility();">
                <span class="showHideIco" ng-class="{hiddenMode : !showOldEvents}"></span>
                {{'SHOW_HIDE_OLD_EVENTS' | translate }}
            </a>
        </div>
        <div class="clearer"></div>
    </div>
    <div class="listItems" ng-show="events.length!=0">
        <div class="listItemsContainer">
            <table>
                <tr>
                    <th class="col-w-20 sortable" ng-click="changeEventSort('actionName');">
                        {{'NAME' | translate}}
                        <span ng-show="eventSort=='actionName'" class="sortedColumn"
                              ng-class="{reversedSort: eventReverse}"></span>
                    </th>
                    <th class="col-w-15 sortable" ng-click="changeEventSort(getActivityName);">
                        {{'SUBJECT' | translate}}
                        <span ng-show="eventSort==getActivityName" class="sortedColumn"
                              ng-class="{reversedSort: eventReverse}"></span>
                    </th>
                    <th class="col-w-15 sortable" ng-click="changeEventSort(getPlaceName);">
                        {{'PLACE' | translate}}
                        <span ng-show="eventSort==getPlaceName" class="sortedColumn"
                              ng-class="{reversedSort: eventReverse}"></span>
                    </th>
                    <th class="col-w-20 sortable" ng-click="changeEventSort('startTime');">
                        {{'START_TIME' | translate}}
                        <span ng-show="eventSort=='startTime'" class="sortedColumn"
                              ng-class="{reversedSort: eventReverse}"></span>
                    </th>
                    <th class="col-w-20 sortable" ng-click="changeEventSort('endTime');">
                        {{'END_TIME' | translate}}
                        <span ng-show="eventSort=='endTime'" class="sortedColumn"
                              ng-class="{reversedSort: eventReverse}"></span>
                    </th>
                    <th class="col-w-10"></th>
                </tr>
                <tr ng-repeat="event in events | filter:eventsFilter| orderBy:eventSort:eventReverse"
                        ng-class="{oldEvent: (event.endTime < now),
                                currentEvent: (event.startTime < now && event.endTime > now)}">
                    <td><a href="event/{{event.id}}">{{ event.actionName }}</a><b></b></td>
                    <td>{{ event.activity.activityName }}</td>
                    <td>{{ event.place.placeName }}</td>
                    <td>{{ event.startTime | date:'yyyy/MM/dd HH:mm' }}</td>
                    <td>{{ event.endTime | date:'yyyy/MM/dd HH:mm' }}</td>
                    <td class="listItemControls">
                        <a href="repeatEvent/{{event.id}}">
                            <img src="img/repeat.png" width="16" height="16" alt="Repeat"/></a>
                        <a href="editEvent/{{event.id}}">
                            <img src="img/edit.png" width="16" height="16" alt="Edit"/></a>
                        <a href="javascript:void()" ng-click="deleteEvent(event.id);">
                            <img src="img/delete.png" width="16" height="16" alt="Delete"/></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="noItems" ng-show="events.length==0">
        {{'NO_ITEMS' | translate }}
    </div>
</div>