<div class="formContainer">
    <span class="sectionTitle">{{ 'REPEAT_EVENT' | translate}}</span>
    <form name="repeatEventForm">
        <div class="formFieldContainer">
            <label for="frequency">{{ 'FREQUENCY_FIELD' | translate}}</label>
            <select id="frequency" name="frequency" ng-model="frequency">
                <option ng-repeat="key in frequenciesKeys" value="{{frequencies[key].value}}">
                    {{ frequencies[key].name | translate }}
                </option>
            </select>
        </div>
        <div class="formFieldContainer">
            <label for="until">{{ 'UNTIL_FIELD' | translate}}</label>
            <select id="until" name="until" ng-model="until">
                <option ng-repeat="key in untilOptionsKeys" value="{{untilOptions[key].value}}">
                    {{ untilOptions[key].name | translate }}
                </option>
            </select>
        </div>
        <div class="formFieldContainer" ng-show="until == untilOptions.Times.value">
            <span ng-show="repeatEventForm.times.$error.required && !repeatEventForm.times.$pristine" class="errorField">
                {{ 'REQUIRED_FIELD' | translate}}
            </span>
            <span ng-show="repeatEventForm.times.$error.integer" class="errorField">
                {{ 'INVALID_INTEGER' | translate}}
            </span>
            <span ng-show="repeatEventForm.times.$error.min" class="errorField">
                {{ 'TIMES_LESS_1' | translate}}
            </span>
            <label for="times">{{ 'TIMES_FIELD' | translate}}</label>
            <input id="times" type="number" name="times" ng-required="until == untilOptions.Times.value"
                   ng-model="times" integer min="1"/>
        </div>
        <div class="formFieldContainer" ng-show="until == untilOptions.Date.value">
            <span ng-show="repeatEventForm.endTime.$error.required && !repeatEventForm.endTime.$pristine" class="errorField">
                {{ 'REQUIRED_FIELD' | translate}}
            </span>
            <span ng-show="repeatEventForm.endTime.$error.invalid" class="errorField">
                {{ 'INVALID_DATE' | translate}}
            </span>
            <label for="endTime">{{ 'END_TIME_FIELD' | translate}}</label>
            <input id="endTime" type="text" name="endTime" ng-required="until == untilOptions.Date.value"
                   ng-model="endTime" date-field/>
        </div>
        <div class="formButtons">
            <button type="button" ng-click="confirm()" ng-disabled="repeatEventForm.$invalid"
                     ng-class="{disabledButton: repeatEventForm.$invalid}">
                {{'CONFIRM' | translate}}
            </button>
            <button type="button" ng-click="cancel()">{{'CANCEL' | translate}}</button>
        </div>
    </form>
</div>
<script>
    jQuery('#endTime').datetimepicker();
</script>
