html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background: url('../img/top-bg.png') repeat-x #fff;
}

#page {
    width: 1280px;
    margin: 0 auto;
    min-height: 100%;
	position: relative;
	padding-top: 10px;
	box-sizing: border-box;
}

#header {
    clear: both;
    height: 50px;
    padding: 5px;
    margin: 0 20px;
    border-bottom: 1px solid #8699A4;
}

#content {
	margin-top: 30px;
}

#logo {
    float: left;
}

#mainMenu {
    float:right;
	height: 50px;
	line-height: 50px;
}

.header_item {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
}

.header_item a {
    display: block;
    line-height: 24px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 6px 10px 6px 28px;
    background: url(../img/tabs.png) no-repeat 0 0;
    border: 1px solid #91B4E6;
}

#tasks_item.header_item a {
    background-position: 0 0;
}

#events_item.header_item a {
    background-position: 0 -32px;
}

#calendar_item.header_item a {
    background-position: 0 -64px;
}

#subjects_item.header_item a {
    background-position: 0 -96px;
}

#lecturers_item.header_item a {
    background-position: 0 -128px;
}

#places_item.header_item a {
    background-position: 0 -160px;
}

.header_item:hover a {
    border: 1px solid gray;
    border-radius: 3px;
    background-color: #42AFEE;
}

.header_item .submenu {
    border: 1px solid gray;
    border-radius: 3px;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #42AFEE;
    display: none;
    padding: 5px;
    list-style: none;
    z-index: 2;
    margin: 14px 0 0;
}

.header_item.with_submenu:hover::before {
     position: absolute;
     top: 101%;
     right: 6px;
     content: '';
     height: 0;
     border-bottom: solid 15px #42AFEE;
     z-index: 3;
     border-left: solid 15px transparent;
     border-right: solid 15px transparent;
}

.header_item.with_submenu:hover::after {
    position: absolute;
    top: 100%;
    right: 4px;
    content: '';
    height: 0;
    border-bottom: solid 17px gray;
    z-index: 1;
    border-left: solid 17px transparent;
    border-right: solid 17px transparent;
}

.header_item .submenu a {
    background: none;
    padding: 5px 10px;
    text-transform: none;
    border: 1px solid #42AFEE;
}

.header_item .submenu a:hover {
    border: 1px solid gray;
}

.header_item:hover .submenu {
    display: block;
}

#footer-placeholder {
    clear: both;
    height: 36px;
}

#footer {
    height: 16px;
    margin-top: -36px;
    background-color: #91b4e6;
    width: 100%;
    min-width: 1280px;
    padding: 10px 0;
}

#footer-inner {
    width: 200px;
    text-align: center;
    margin: 0 auto;
    line-height: 16px;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

#footer-inner a, #footer-inner a:visited {
    color: white;
}

#mainInfoContainer {
    width: 850px;
    margin: 0 auto;
    padding: 20px 50px;
}

#mainInfoContainer .mainInfoImg {
    float: right;
}

#mainInfoContainer .mainInfoText {
    margin-top: 10px;
    text-indent: 1em;
    text-align: justify;
    font-size: 24px;
    width: 400px;
}

.view, .formContainer, .listContainer  {
    width: 600px;
    margin: 20px auto;
}

#schedulePage {
    margin: 20px auto;
}

#schedulePage, #eventsList, #taskList {
    width: 700px;
}

#calendarPage {
    width: 520px;
    margin: 0 auto;
}

#marksList {
    width: 320px;
}

.listControllerItem {
    float:left;
    margin-left: 5px;
}

.listControllerItem a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    line-height: 16px;
    height: 16px;
    font-size: 14px;
	font-weight: bold;
	color: white !important;
    background-color: #0f3b65;
    border-radius: 3px;
}

.listControllerItem img {
    vertical-align: bottom;
}

.listControllerItem a:hover {
    text-decoration: underline;
}

.listItems {
    margin-top: 10px;
    font-size: 20px;
}
tr.overdueTask td:first-child {
	position: relative;
}
tr.overdueTask td:first-child b {
    display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0;
	left: -30px;
	background-image: url(../img/exclamation-icon.png);
}
tr.completedTask td:first-child b {
    display: none;
}
tr.completedTask td {
    text-decoration: line-through;
}
tr.completedTask td.listItemControls {
    text-decoration: none !important;
}
tr.oldEvent td {
    text-decoration: line-through;
}
tr.oldEvent td.listItemControls {
    text-decoration: none !important;
}
tr.currentEvent td:first-child {
	position: relative;
}
tr.currentEvent td:first-child b {
    display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0;
	left: -30px;
	background-image: url(../img/clock-icon.png);
}

.listItemsContainer {
    margin: 0;
    padding: 0;
    width: 100%;
}
.listItemsContainer table{
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
	border: 0;
    table-layout:fixed;
}
.listItemsContainer td {
    vertical-align:top;
    border-bottom: 1px solid #3f7f00;
    text-align:left;
    padding:7px 5px;
    font-size:16px;
    font-weight:normal;
    color:#000000;
    word-wrap: break-word;
}

.listItemsContainer td a {
    font-weight: bold;
    color: black;
}

.listItemsContainer tr th{
    background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
    background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
    background: -o-linear-gradient(top,#5fbf00,3f7f00);
    background-color:#5fbf00;
    text-align:center;
    border-right: 1px solid #fff;
	padding: 5px 0;
    font-size:14px;
    font-weight:bold;
    color:#ffffff;
}
.listItemsContainer tr th:last-child{
    border-right: 0;
}

td.listItemControls {
    text-align: center !important;
}

td.listItemControls a img {
    vertical-align: middle;
}

.noItems {
    margin-top: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.formContainer {
    margin: 20px auto 0;
    width: 460px;
}

.formFieldContainer {
    width: 100%;
    margin-top: 10px;
    position: relative;
}

.formFieldContainer label {
    display: inline-block;
    width: 100px;
    font-size: 16px;
    line-height: 21px;
    vertical-align: top;
	font-weight: bold;
}

.formFieldContainer input[type="text"], .formFieldContainer input[type="password"] {
    width: 350px;
}

.formFieldContainer textarea {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
}

.formFieldContainer input, .formFieldContainer textarea,
.formFieldContainer select {
    margin: 0;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.formFieldContainer select, .formFieldContainer select option {
    width: 150px;
}

.formFieldContainer #latitude, .formFieldContainer #longitude {
    width: 172px;
}

.formFieldContainer #latitude {
    margin-right: 2px;
}

.errorField {
    color: red;
    font-size: 16px;
    font-weight: bold;
    display: block;
}

.formButtons {
    margin-top: 10px;
    padding-left: 142px;
}

.formButtons button {
	border: 0;
    border-radius: 3px;
    padding: 5px 10px;
    font-weight: bold;
    color: white;
    background-color: #0f3b65;
}

.formButtons button:hover {
    text-decoration: underline;
}

.formButtons .disabledButton {
    color: gray;
	text-decoration: none !important;
}

.sectionTitle {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
	color: #0f3b65;
}

.col-w-5 {
     width: 5%;
}

.col-w-10 {
    width: 10%;
}

.col-w-15 {
    width: 15%;
}

.col-w-20 {
    width: 20%;
}

.col-w-25 {
    width: 25%;
}

.col-w-30 {
    width: 30%;
}

.col-w-40 {
    width: 40%;
}

.col-w-50 {
    width: 50%;
}

.col-w-60 {
    width: 60%;
}

.col-w-70 {
    width: 70%;
}

.col-w-80 {
    width: 80%;
}

.col-w-90 {
    width: 90%;
}

.clearer {
    clear: both;
}

.showHideIco {
    vertical-align: top;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../img/showHideIcon.png);
}

.showHideIco.hiddenMode {
    background-position: 0 -16px;
}

.sortable {
    cursor: pointer;
}

.sortedColumn {
    vertical-align: top;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../img/arrows.png) 0 -16px;
}

.sortedColumn.reversedSort {
    background-position: 0 0;
}

#calendarContainer .xdsoft_datetimepicker .xdsoft_datepicker {
    width: 500px;
}

#calendarContainer .xdsoft_datetimepicker .xdsoft_calendar td,
#calendarContainer .xdsoft_datetimepicker .xdsoft_calendar th {
    height: 50px;
}

#calendarContainer .xdsoft_datetimepicker .xdsoft_calendar td div,
#calendarContainer .xdsoft_datetimepicker .xdsoft_calendar th div {
    width: 100%;
    height: 100%;
    position: relative;
}

#calendarContainer .xdsoft_datetimepicker .xdsoft_calendar td.taskCalendarItem div:before,
#calendarContainer .xdsoft_datetimepicker .xdsoft_calendar td.taskCalendarItem div::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 15px red;
    border-right: solid 15px transparent;
}

#calendarContainer .xdsoft_datetimepicker .xdsoft_calendar td.eventCalendarItem div:after,
#calendarContainer .xdsoft_datetimepicker .xdsoft_calendar td.eventCalendarItem div::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: '';
    width: 0;
    height: 0;
    border-bottom: solid 15px green;
    border-left: solid 15px transparent;
}

.scheduleSection {
    text-align: center;
    text-decoration: underline;
    margin: 0 auto 10px;
    width: 360px;
    display: block;
}

.view {
    font-size: 16px;
    padding: 10px;
    border: 4px outset grey;
    margin-top: 20px;
    background-color: white;
}

.view .controlPanel {
    float: right;
    width: 60px;
}

#eventView .controlPanel {
    width: 80px;
}

.view .sectionTitle {
    text-align: left;
    width: auto;
    margin-top: 0;
}

.viewTitle {
    font-size: 24px;
    font-weight: bold;
    word-break: break-all;
}

.viewInfo {
    margin-top: 5px;
    word-break: break-all;
}

.viewInfo span {
    display: inline-block;
    width: 140px;
    font-weight: bold;
}

.viewInfo a {
    font-weight: bold;
    color: black;
}

.viewInfo .longTextView {
    width: 100%;
    white-space: pre-wrap;
}

.logTab {
    position: absolute;
    color: white;
    top: 0;
	right: 35px;
}

.logTab a {
    display: inline-block;
    color: white !important;
    border: 1px solid #91B4E6;
}

.logTab a:hover {
    border: 1px solid gray;
    border-radius: 3px;
    background-color: #42AFEE;
}

.noformat {
    white-space: pre;
}

.notificationContainer {
    outline: none;
    position: fixed;
    right: 20px;
    bottom: 35px;
}

.notificationContainer > div {
    display: none;
    width: 300px;
    padding: 10px 20px;
    z-index: 10;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #999;
    text-decoration: none;
    color: #000000;
    background: #FF6600;
    background: -webkit-linear-gradient(top, #FF6600, #FF9900);
    background: linear-gradient(top, #FF6600, #FF9900);
    border: 1px solid #CFB57C;
    margin-bottom: 15px;
    position: relative;
    opacity: 1;
}

.notificationContainer > div:nth-child(-n+4) {
    display: block;
}

.notificationContainer div b {
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    right: 10px;
    bottom: -10px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-box-shadow: inset 1px 0 0 #fff;
    -moz-box-shadow: inset 1px 0 0 #fff;
    -o-box-shadow: inset 1px 0 0 #fff;
    box-shadow: inset 1px 0 0 #fff;
    display: none\0/;
    *display: none;
    background: #FF9900;
    border-bottom: 1px solid #CFB57C;
    border-left: 1px solid #CFB57C;
}

.notificationContainer div a.closeLink {
    background-image: url("../img/close_btn.png");
    position: absolute;
    top: 5px;
    right: 5px;
    width: 14px;
    height: 14px;
}

.mapContainer {
    width: 500px;
    height: 500px;
    margin: 20px auto;
    border: 3px solid #555;
}

.updateLocationButton {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0;
    right: -15px;
    background-image: url("../img/location-icon.png");
}

.showMapButton {
    display: block;
    width: 30px;
    height: 30px;
    float: right;
    background-image: url("../img/map-icon.png");
}

.mapMarker {
    width: auto;
    height: auto;
    white-space: nowrap;
}

.syncLink {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../img/sync.png");
    vertical-align: bottom;
}