<div class="listContainer">
    <span class="sectionTitle">{{ 'LECTURERS' | translate}}</span>
    <div class="listControls">
        <div class="listControllerItem">
            <a href="createLecturer">
                {{'ADD_ITEM' | translate }}
            </a>
        </div>
        <div class="clearer"></div>
    </div>
    <div class="listItems" ng-show="lecturers.length!=0">
        <div class="listItemsContainer">
            <table>
                <tr>
                    <th class="col-w-30 sortable" ng-click="changeSort('lecturerName');">
                        {{'NAME' | translate}}
                        <span ng-show="sort=='lecturerName'" class="sortedColumn" ng-class="{reversedSort: reverse}"></span>
                    </th>
                    <th class="col-w-30 sortable" ng-click="changeSort('email');">
                        {{'EMAIL' | translate}}
                        <span ng-show="sort=='email'" class="sortedColumn" ng-class="{reversedSort: reverse}"></span>
                    </th>
                    <th class="col-w-30 sortable" ng-click="changeSort('phone');">
                        {{'PHONE' | translate}}
                        <span ng-show="sort=='phone'" class="sortedColumn" ng-class="{reversedSort: reverse}"></span>
                    </th>
                    <th class="col-w-10"></th>
                </tr>
                <tr ng-repeat="lecturer in lecturers | orderBy:sort:reverse">
                    <td><a href="lecturer/{{lecturer.id}}">{{ lecturer.lecturerName }}</a></td>
                    <td>{{ lecturer.email }}</td>
                    <td>{{ lecturer.phone }}</td>
                    <td>
                        <a href="editLecturer/{{lecturer.id}}"><img src="img/edit.png" width="16" height="16" alt="Edit"/></a>
                        &nbsp;
                        <a href="" ng-click="deleteLecturer(lecturer.id);"><img src="img/delete.png" width="16" height="16" alt="Delete"/></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="noItems" ng-show="lecturers.length==0">
        {{'NO_ITEMS' | translate }}
    </div>
</div>