<div class="formContainer">
    <span class="sectionTitle">{{ 'LECTURER' | translate}}</span>
    <form name="lecturerForm">
        <input type="hidden" name="id" ng-model="lecturer.id"/>
        <div class="formFieldContainer">
            <span ng-show="lecturerForm.name.$error.required && !lecturerForm.name.$pristine" class="errorField">
                {{ 'REQUIRED_FIELD' | translate}}
            </span>
            <label for="name">{{ 'NAME_FIELD' | translate}}</label>
            <input id="name" type="text" name="name" required ng-model="lecturer.lecturerName"/>
        </div>
        <div class="formFieldContainer">
            <label for="difficulty">{{ 'LECTURER_DIFFICULTY_FIELD' | translate}}</label>
            <select id="difficulty" name="difficulty" ng-model="lecturer.difficulty">
                <option ng-repeat="key in difficultyKeys" value="{{difficulties[key]}}"
                        ng-selected="difficulties[key]==lecturer.difficulty">
                    {{ 'LECTURER_DIFFICULTY_' + difficulties[key] | translate}}
                </option>
            </select>
        </div>
        <div class="formFieldContainer">
            <label for="position">{{ 'POSITION_FIELD' | translate}}</label>
            <input id="position" type="text" name="position" ng-model="lecturer.position"/>
        </div>
        <div class="formFieldContainer">
            <span ng-show="lecturerForm.email.$error.invalid && !lecturerForm.email.$pristine" class="errorField">
                {{ 'INVALID_EMAIL' | translate}}
            </span>
            <label for="email">{{ 'EMAIL_FIELD' | translate}}</label>
            <input id="email" type="text" name="email" ng-model="lecturer.email" email-field/>
        </div>
        <div class="formFieldContainer">
            <span ng-show="lecturerForm.phone.$error.invalid && !lecturerForm.phone.$pristine" class="errorField">
                {{ 'INVALID_PHONE' | translate}}
            </span>
            <label for="phone">{{ 'PHONE_FIELD' | translate}}</label>
            <input id="phone" type="text" name="phone" ng-model="lecturer.phone" ng-model-options="{ updateOn: 'blur' }"
                   phone-field/>
        </div>
        <div class="formFieldContainer">
            <label for="additionalInfo">{{ 'ADDITIONAL_INFO' | translate}}</label>
            <textarea id="additionalInfo" name="additionalInfo" ng-model="lecturer.additionalInfo"></textarea>
        </div>
        <div class="formButtons">
            <button type="button" ng-click="save()" ng-disabled="lecturerForm.$invalid" ng-class="{disabledButton: lecturerForm.$invalid}">
                {{'SAVE' | translate}}
            </button>
            <button type="button" ng-click="cancel()">{{'CANCEL' | translate}}</button>
            <button type="button" ng-click="delete()" ng-show="!newItem">{{'DELETE' | translate}}</button>
        </div>
    </form>
</div>