<div class="formContainer">
    <span class="sectionTitle">{{ 'SUBJECT' | translate}}</span>
    <form name="subjectForm">
        <input type="hidden" name="id" ng-model="subject.id"/>
        <div class="formFieldContainer">
            <span ng-show="subjectForm.name.$error.required && !subjectForm.name.$pristine" class="errorField">
                {{ 'REQUIRED_FIELD' | translate}}
            </span>
            <label for="name">{{ 'NAME_FIELD' | translate}}</label>
            <input id="name" type="text" name="name" required ng-model="subject.activityName"/>
        </div>
        <div class="formFieldContainer">
            <label for="type">{{ 'SUBJECT_TYPE_FIELD' | translate}}</label>
            <select id="type" name="type" ng-model="subject.evaluationType">
                <option ng-repeat="key in evaluationTypeKeys" value="{{evaluationTypes[key]}}"
                        ng-selected="evaluationTypes[key]==subject.evaluationType">
                    {{ 'SUBJECT_TYPE_' + evaluationTypes[key] | translate}}
                </option>
            </select>
        </div>
        <div class="formFieldContainer">
            <label for="description">{{ 'DESCRIPTION_FIELD' | translate}}</label>
            <textarea id="description" name="description" ng-model="subject.description"></textarea>
        </div>
        <div class="formButtons">
            <button type="button" ng-click="save()" ng-disabled="subjectForm.$invalid" ng-class="{disabledButton: subjectForm.$invalid}">
                {{'SAVE' | translate}}
            </button>
            <button type="button" ng-click="cancel()">{{'CANCEL' | translate}}</button>
            <button type="button" ng-click="delete()" ng-show="!newItem">{{'DELETE' | translate}}</button>
        </div>
    </form>
</div>