<div id="subjectView">
    <div class="view">
        <div class="controlPanel">
            <a href="" ng-click="back();"><img src="img/back.png" width="16" height="16" alt="Back"/></a>
            <a href="editSubject/{{subject.id}}"><img src="img/edit.png" width="16" height="16" alt="Edit"/></a>
            <a href="" ng-click="delete(subject.id);"><img src="img/delete.png" width="16" height="16" alt="Delete"/></a>
        </div>
        <span class="sectionTitle">{{ 'SUBJECT' | translate}}</span>
        <div class="viewTitle">
            {{ subject.activityName}}
        </div>
        <div class="viewInfo" ng-show="subject.evaluationType!=evaluationTypes.None">
            <span>{{ 'SUBJECT_TYPE_FIELD' | translate}}</span> {{ 'SUBJECT_TYPE_' + subject.evaluationType | translate }}
        </div>
        <div class="viewInfo" ng-show="totalMark">
            <span>{{ 'TOTAL_MARK' | translate}}</span> {{ totalMark }}
        </div>
        <div class="viewInfo" ng-show="subject.description">
            <span>{{ 'DESCRIPTION_FIELD' | translate}}</span>
            <div class="longTextView">{{ subject.description }}</div>
        </div>
    </div>
    <div ng-include="'events/events.html'"></div>
    <div ng-include="'tasks/tasks.html'"></div>
    <div ng-include="'marks/marks.html'"></div>
</div>