<!DOCTYPE html>
<html ng-app="excellentModule" manifest="/excellent/excellent.appcache">
<head lang="en">
    <meta charset="UTF-8">
    <base href="/excellent/" />
    <link rel="shortcut icon" href="favicon.png" type="image/png">
    <link rel="stylesheet" href="css/base.min.css" type="text/css">
    <link rel="stylesheet" href="css/jquery.datetimepicker.css" type="text/css" >
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery.datetimepicker.js"></script>
    <script src="js/base.min.js"></script>
    <script src="js/dao.min.js"></script>
    <script src="js/models.min.js"></script>
    <script src="js/angular/angular.min.js"></script>
    <script src="js/angular/angular-translate.min.js"></script>
    <script src="js/angular/angular-route.min.js"></script>
    <script src="js/angular/angular-cookies.min.js"></script>
    <script src="js/controllers.min.js"></script>
    <title>Excellent - Make Studying Easier</title>
</head>
<body>
    <div id="page">
        <div id="loginTab" class="logTab" ng-show="$root.online && $root.user == null">
            <a href="login">
                {{ 'LOGIN' | translate }}
            </a>
            |
            <a href="register">
                {{ 'REGISTER' | translate }}
            </a>
        </div>
        <div id="logoutTab" class="logTab" ng-show="$root.online && $root.user != null">
            <a href="" ng-click="$root.synchronize()" class="syncLink" title="{{ 'SYNCHRONIZE' | translate}}"></a>
            {{ 'HI' | translate }}, {{$root.user.login}}
            <a href="logout">
                {{ 'LOGOUT' | translate }}
            </a>
        </div>
        <div id="header">
            <div id="logo">
                <a href="index.html">
                    <img src="img/logo.png" alt="Excellent Logo" width="250" height="50"/>
                </a>
            </div>
            <nav id="mainMenu">
                <div id="tasks_item" class="header_item">
                    <a href="tasks">{{'TASKS' | translate}}</a>
                </div>
                <div id="events_item" class="header_item">
                    <a href="events">{{'EVENTS' | translate}}</a>
                </div>
                <div id="calendar_item" class="header_item">
                    <a href="calendar">{{'CALENDAR' | translate}}</a>
                </div>
                <div id="subjects_item" class="header_item">
                    <a href="subjects">{{'SUBJECTS' | translate}}</a>
                </div>
				<div id="lecturers_item" class="header_item">
                    <a href="lecturers">{{'LECTURERS' | translate}}</a>
                </div>
				<div id="places_item" class="header_item">
                    <a href="places">{{'PLACES' | translate}}</a>
                </div>
            </nav>
        </div>
        <div id="content" ng-view>
        </div>
        <div class="notificationContainer">
            <div ng-if="$root.unassociatedItems">
                <b></b>
                <a href="" class="closeLink" ng-click="$root.closeUnassociatedItemsMessage()"></a>
                {{'UNASSOCIATED_1' | translate}}
                <a href="" ng-click="$root.associateItems()">{{'UNASSOCIATED_2' | translate}}</a>
                {{'UNASSOCIATED_3' | translate}}
            </div>
            <div ng-repeat="event in $root.eventsNotifications">
                <b></b>
                <a href="" class="closeLink" ng-click="$root.hideEventNotification(event.id, $index);"></a>
                {{ 'EVENT' | translate }}
                <a href="event/{{event.id}}">{{event.actionName}}</a>
                {{ event.startTime | date : "dd/MM HH:mm" }} -
                {{ event.endTime | date : "dd/MM HH:mm" }}
            </div>
            <div ng-repeat="task in $root.tasksNotifications">
                <b></b>
                <a href="" class="closeLink" ng-click="$root.hideTaskNotification(task.id, $index);"></a>
                {{ 'TASK' | translate }}
                <a href="task/{{task.id}}">{{task.actionName}}</a> -
                {{ task.deadline | date : "dd/MM HH:mm" }}
            </div>
        </div>
        <div id="footer-placeholder"></div>
    </div>
    <div id="footer">
        <div id="footer-inner">
            &copy; <a href="mailto:dekart2006@ukr.net">Shaltai Boltai Team</a> 2014
        </div>
    </div>
</body>
</html>