<div id="mainInfoContainer">
    <img src="img/main-1.jpg" alt="Excellent" class="mainInfoImg"/>
    <div class="mainInfoText">
        <p>{{'MAIN_INFO_TEXT_P1' | translate }}</p>
        <p>{{'MAIN_INFO_TEXT_P2' | translate }}</p>
        <p>{{'MAIN_INFO_TEXT_P3' | translate }}</p>
    </div>
    <div class="clearer"></div>
</div>