<div id="taskList" class="listContainer">
    <span class="sectionTitle">{{ 'TASKS' | translate}}</span>
    <div class="listControls">
        <div class="listControllerItem">
            <a href="createTask">
                {{'ADD_ITEM' | translate }}
            </a>
        </div>
        <div class="listControllerItem" style="float:right;" ng-show="tasks.length!=0">
            <a href="" ng-click="changeCompletedTasksVisibility();">
                <span class="showHideIco" ng-class="{hiddenMode : !showCompletedTasks}"></span>
                {{'SHOW_HIDE_COMPLETED_TASKS' | translate }}
            </a>
        </div>
        <div class="listControllerItem" style="float:right;" ng-show="tasks.length!=0">
            <a href="" ng-click="changeOverdueTasksVisibility();">
                <span class="showHideIco" ng-class="{hiddenMode : !showOverdueTasks}"></span>
                {{'SHOW_HIDE_OVERDUE_TASKS' | translate }}
            </a>
        </div>
        <div class="clearer"></div>
    </div>
    <div class="listItems" ng-show="tasks.length!=0">
        <div class="listItemsContainer">
            <table>
                <tr>
                    <th class="col-w-5">{{'DONE_TASK' | translate}}</th>
                    <th class="col-w-25 sortable" ng-click="changeTaskSort('actionName');">
                        {{'NAME' | translate}}
                        <span ng-show="taskSort=='actionName'" class="sortedColumn"
                              ng-class="{reversedSort: taskReverse}"></span>
                    </th>
                    <th class="col-w-15 sortable" ng-click="changeTaskSort('difficulty');">
                        {{'TASK_DIFFICULTY' | translate}}
                        <span ng-show="taskSort=='difficulty'" class="sortedColumn"
                              ng-class="{reversedSort: taskReverse}"></span>
                    </th>
                    <th class="col-w-25 sortable" ng-click="changeTaskSort(getActivityName);">
                        {{'SUBJECT' | translate}}
                        <span ng-show="taskSort==getActivityName" class="sortedColumn"
                              ng-class="{reversedSort: taskReverse}"></span>
                    </th>
                    <th class="col-w-20 sortable" ng-click="changeTaskSort('deadline');">
                        {{'DEADLINE' | translate}}
                        <span ng-show="taskSort=='deadline'" class="sortedColumn"
                              ng-class="{reversedSort: taskReverse}"></span>
                    </th>
                    <th class="col-w-10"></th>
                </tr>
                <tr ng-repeat="task in tasks | filter:tasksFilter | orderBy:taskSort:taskReverse"
                        ng-class="{completedTask: task.completed, overdueTask: (task.deadline < now)}">
                    <td style="text-align: center;"><input type="checkbox" ng-model="task.completed"/><b></b></td>
                    <td><a href="task/{{task.id}}">{{ task.actionName }}</a></td>
                    <td>{{ 'TASK_DIFFICULTY_' + task.difficulty | translate }}</td>
                    <td>{{ getActivityName(task) }}</td>
                    <td>{{ task.deadline | date:'yyyy/MM/dd HH:mm' }}</td>
                    <td class="listItemControls">
                        <a href="editTask/{{task.id}}">
                            <img src="img/edit.png" width="16" height="16" alt="Edit"/></a>
                        &nbsp;
                        <a href="" ng-click="deleteTask(task.id);">
                            <img src="img/delete.png" width="16" height="16" alt="Delete"/></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="listControls" ng-show="tasks.length!=0" style="margin-top: 5px;">
        <div class="listControllerItem">
            <a href="" ng-click="saveTasks();">
                {{'SAVE_LIST' | translate }}
            </a>
        </div>
        <div class="clearer"></div>
    </div>
    <div class="noItems" ng-show="tasks.length==0">
        {{'NO_ITEMS' | translate }}
    </div>
</div>