<div id="marksList" class="listContainer">
    <span class="sectionTitle">{{ 'MARKS' | translate}}</span>
    <div class="listControls">
        <div class="listControllerItem">
            <a href="createMark">
                {{'ADD_ITEM' | translate }}
            </a>
        </div>
        <div class="clearer"></div>
    </div>
    <div class="listItems" ng-show="marks.length!=0">
        <div class="listItemsContainer">
            <table>
                <tr>
                    <th class="col-w-50 sortable" ng-click="changeMarkSort('date');">
                        {{'DATE' | translate}}
                        <span ng-show="markSort=='date'" class="sortedColumn"
                              ng-class="{reversedSort: markReverse}"></span>
                    </th>
                    <th class="col-w-30 sortable" ng-click="changeMarkSort('value');">
                        {{'VALUE' | translate}}
                        <span ng-show="markSort=='value'" class="sortedColumn"
                              ng-class="{reversedSort: markReverse}"></span>
                    </th>
                    <th class="col-w-20"></th>
                </tr>
                <tr ng-repeat="mark in marks | orderBy:markSort:markReverse">
                    <td><a href="mark/{{mark.id}}">{{ mark.date | date:'yyyy/MM/dd HH:mm' }}</a></td>
                    <td>{{ mark.value }}</td>
                    <td class="listItemControls">
                        <a href="editMark/{{mark.id}}">
                            <img src="img/edit.png" width="16" height="16" alt="Edit"/></a>
                        &nbsp;
                        <a href="" ng-click="deleteMark(mark.id);">
                            <img src="img/delete.png" width="16" height="16" alt="Delete"/></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="noItems" ng-show="marks.length==0">
        {{'NO_ITEMS' | translate }}
    </div>
</div>