<div class="formContainer">
    <span class="sectionTitle">{{ 'MARK' | translate}}</span>
    <form name="markForm">
        <input type="hidden" name="id" ng-model="mark.id"/>
        <div class="formFieldContainer">
            <span ng-show="markForm.date.$error.required && !markForm.date.$pristine" class="errorField">
                {{ 'REQUIRED_FIELD' | translate}}
            </span>
            <span ng-show="markForm.date.$error.invalid" class="errorField">
                {{ 'INVALID_DATE' | translate}}
            </span>
            <label for="date">{{ 'DATE_FIELD' | translate}}</label>
            <input id="date" type="text" name="date" required ng-model="date" date-field/>
        </div>
        <div class="formFieldContainer">
            <span ng-show="markForm.value.$error.required && !markForm.value.$pristine" class="errorField">
                {{ 'REQUIRED_FIELD' | translate}}
            </span>
            <label for="value">{{ 'VALUE_FIELD' | translate}}</label>
            <input id="value" type="text" name="value" required ng-model="mark.value"/>
        </div>
        <div class="formFieldContainer">
            <label for="activity">{{ 'SUBJECT_FIELD' | translate}}</label>
            <input id="activity" name="activity" type="text" name="subjectId" readonly="readonly"
                   value="{{activity.activityName}}"/>
        </div>
        <div class="formFieldContainer">
            <label for="description">{{ 'DESCRIPTION_FIELD' | translate}}</label>
            <textarea id="description" name="description" ng-model="mark.description"></textarea>
        </div>
        <div class="formButtons">
            <button type="button" ng-click="save()" ng-disabled="markForm.$invalid"
                     ng-class="{disabledButton: markForm.$invalid}">
                {{'SAVE' | translate}}
            </button>
            <button type="button" ng-click="cancel()">{{'CANCEL' | translate}}</button>
            <button type="button" ng-click="delete()" ng-show="!newItem">{{'DELETE' | translate}}</button>
        </div>
    </form>
</div>
<script>
    jQuery('#date').datetimepicker();
</script>
