<div id="markView">
    <div class="view">
        <div class="controlPanel">
            <a href="" ng-click="back();"><img src="img/back.png" width="16" height="16" alt="Back"/></a>
            <a href="editMark/{{mark.id}}"><img src="img/edit.png" width="16" height="16" alt="Edit"/></a>
            <a href="" ng-click="delete(mark.id);"><img src="img/delete.png" width="16" height="16" alt="Delete"/></a>
        </div>
        <span class="sectionTitle">{{ 'MARK' | translate}}</span>
        <div class="viewInfo">
            <span>{{ 'DATE_FIELD' | translate}}</span>{{ mark.date | date:'yyyy/MM/dd HH:mm' }}
        </div>
        <div class="viewInfo">
            <span>{{ 'VALUE_FIELD' | translate}}</span>{{ mark.value }}
        </div>
        <div class="viewInfo">
            <span>{{ 'SUBJECT_FIELD' | translate}}</span>
            <a href="subject/{{mark.activity.id}}">{{ mark.activity.activityName }}</a>
        </div>
        <div class="viewInfo" ng-show="mark.description">
            <span>{{ 'DESCRIPTION_FIELD' | translate}}</span>
            <div class="longTextView">{{ mark.description }}</div>
        </div>
    </div>
</div>